<h1> choose a genre </h1>

<% @genres.each do |genre| %>
<div class="btn btn-default btn-lg btn-block">
	<%=  link_to genre.name, genre_path(genre)%>| <%= link_to "edit", edit_genre_path(genre) %> | <%= link_to 'Destroy', genre_path(genre), method: :delete, data: { confirm: 'Are you sure?' } %></div>
	<br>





<% end %>


<%= link_to "make a new genre", new_genre_path%>
